.navbar {
  height: 6rem;

}

h1 {
  color: white;
  font-size: 2rem;
}

.card-columns {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-count: 4;
}

